.container{
    margin: auto;
    width: 90vw;
    margin-top: 4.5rem;
}

.sectionName{
    font-size: 3.5rem;
    color: #3f3f46;
}

.skills{
    margin-top: 2rem;
    font-size: 2rem;
    color: #3f3f46;
}

.slogan{
    font-size: 1.3rem;
    font-weight: 600;
    color: #f4f4f5;
}

.text {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #a1a1aa;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    grid-auto-flow: dense;
}

/* 
.skill{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #333333;
    color: #333333;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

.skillIcon {
    width: 100%;
    max-width: 4rem;
    height: auto;
    border: 1px solid #666666; /* Color del borde */
    border-radius: 5px;
    background-color: #333333; /* Color de fondo */
    padding: 10px; /* Espacio interno para las imágenes */
    box-sizing: border-box; /* Incluye el padding en el ancho y alto */
}

