.container{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 80%;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.4rem;
    color: white;
    gap: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.card h1{
    font-size: 1rem;
}

.sectionName{
    margin-top: 4rem;
    font-size: 3.5rem;
    color: #666666;
}