.container {
    width: 100%;
    background: #333333;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.name {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
}

.menuButton {
    padding: 1rem;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 1.3rem;
}

.nav {
    padding: 1rem;
    display: none;
    list-style: none;
    font-style: none;
    gap: 1rem;
}

.navItem, .navMenuItem {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.navItem{
    cursor: pointer;
}

.navItem:hover{
    transition: 1s;
    color: #FFA500;
}

.navMenuItem {
    font-size: 1.8rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #202020;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 9999;
}

.hide {
    display: none;
}

.navMenu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.closeButton {
    position: absolute;
    color: white;
    top: 1rem; 
    right: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 300;
}

@media (min-width: 768px) {
    .menuButton {
        display: none;
    }
    .nav {
        display: flex;
    }
}
