.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 4rem;
    right: 1rem;
}

.sideBar {
    width: clamp(0.1rem, 0.08rem + 0.075vw, 0.2rem);
    height: 20vh;
    background-color: white;
    margin-bottom: 1rem;
  }
  
  .icon {
    margin-bottom: 0.5rem;
    font-size: clamp(1.5rem, 1.197rem + 1.127vw, 3rem);
    color: white;
    cursor: pointer;
  }
  
  .icon:hover {
    transition: 1s;
    color: #FFA500;
    transform: scale(1.2);
  }
  